Repository breadtubetv/breadtubetv, pull requests merged in 2019-04, with the labels that each got.

#130 Channel Form Videos TextArea, Required Validation
  layouts/partials/channels/new.html
  layouts/partials/playlists/new.html
Labels: needs review, xp/developer, xp/user

#128 Feminist Frequency
  data/channels/feministfrequency.yml
  static/img/channels/feministfrequency.jpg
Labels: content/channel, good first issue, needs review, xp/user

#134 Luna Oi!
  data/channels/lunaoi.yml
  static/img/channels/lunaoi.jpg
Labels: content/channel, good first issue, needs review, xp/user

#127 Curio
  data/channels/curio.yml
  static/img/channels/curio.jpg
Labels: content/channel, good first issue, needs review, xp/user

#132 Ron
  data/channels/ron.yml
  static/img/channels/ron.jpg
Labels: content/channel, good first issue, needs review, xp/user

#129 Chrisiousity
  data/channels/chrisiousity.yml
  static/img/channels/chrisiousity.jpg
Labels: content/channel, good first issue, needs review, xp/user

#131 bronxblogger
  data/channels/bronxblogger.yml
  static/img/channels/bronxblogger.jpg
Labels: content/channel, good first issue, needs review, xp/user

#141 Playlists Menu Highlighting
  content/playlists/anarchist-revolution-syria.md
  content/playlists/authority.md
  content/playlists/earth-strike.md
  content/playlists/organizing.md
  content/playlists/welcome.md
Labels: enhancement, needs review, xp/user

#137 Lowercase Search in URL
  layouts/partials/search/code.html
Labels: enhancement, needs review, xp/user

#145 The Serfs New Channel
  data/channels/theserfs.yml
Labels: content/channel, needs review, xp/creator, xp/user

#146 Revert "The Serfs New Channel"
  data/channels/theserfs.yml
Labels: content/channel, needs review, xp/user

#148 thespartacastleague
  data/channels/thespartacastleague.yml
  static/img/channels/thespartacastleague.jpg
Labels: content/channel, needs review

#149 aprivilegedvegan
  data/channels/aprivilegedvegan.yml
  static/img/channels/aprivilegedvegan.jpg
Labels: content/channel, needs review

#150 theprogressivevoice
  data/channels/theprogressivevoice.yml
  static/img/channels/theprogressivevoice.jpg
Labels: content/channel, needs review

#152 quintonreviews
  data/channels/quintonreviews.yml
  static/img/channels/quintonreviews.jpg
Labels: content/channel, needs review

#154 madblender
  data/channels/madblender.yml
  static/img/channels/madblender.jpg
Labels: content/channel, needs review

#155 pdmorrin
  data/channels/pdmorrin.yml
  static/img/channels/pdmorrin.jpg
Labels: content/channel, needs review

#151 faradayspeaks
  data/channels/faradayspeaks.yml
  static/img/channels/faradayspeaks.jpg
Labels: content/channel, needs review

#159 Update faradayspeaks.yml
  data/channels/faradayspeaks.yml
Labels: content/channel, needs review

#167 Playlist and Channel Description
  layouts/partials/channels/new.html
  layouts/partials/playlists/new.html
  static/css/breadtube.css
Labels: content/channel, needs review, xp/creator, xp/developer, xp/user

#169 Allows searching immediately, instead of after image load
  layouts/partials/base/head.html
  layouts/partials/search/code.html
Labels: bug, enhancement, needs review

#168 Halim Alrah Channel Only
  data/channels/halimalrah.yml
  static/img/channels/halimalrah.jpg
Labels: content/channel, xp/creator, xp/user

#166 bemundolack
  data/channels/bemundolack.yml
  static/img/channels/bemundolack.jpg
Labels: content/channel, needs review, xp/creator, xp/user

#164 punksforprogress
  data/channels/punksforprogress.yml
  static/img/channels/punksforprogress.jpg
Labels: content/channel, needs review, xp/creator, xp/user

#163 Reddebrek
  data/channels/reddebrek.yml
  static/img/channels/reddebrek.jpg
Labels: content/channel, needs review, xp/creator, xp/user

#162 Resonance Audio
  data/channels/resonanceaudio.yml
  static/img/channels/resonanceaudio.jpg
Labels: content/channel, needs review, xp/creator, xp/user

#160 audioanarchist
  data/channels/audioanarchist.yml
  static/img/channels/audioanarchist.jpg
Labels: content/playlist, needs review, xp/creator, xp/user

#157 Privacy Policy
  content/privacy/_index.md
  layouts/_default/baseof.html
  layouts/partials/base/create.html
  layouts/partials/base/footer.html
  layouts/partials/search/bar.html
  layouts/privacy/list.html
  static/css/breadtube.css
Labels: Conduct, help wanted, needs review

#153 rachaelstephen
  data/channels/rachaelstephen.yml
  static/img/channels/rachaelstephen.jpg
Labels: content/channel, needs review

#170 Chapo Trap House
  content/chapotraphouse.md
  data/channels/chapotraphouse.yml
  static/img/channels/chapotraphouse.jpg
Labels: content/channel, needs review

#176 Added The Antifada
  content/theantifada.md
  data/channels/theantifada.yml
  static/img/channels/theantifada.jpg
Labels: content/channel, needs review

#175 The Humanist Report
  content/thehumanistreport.md
  data/channels/thehumanistreport.yml
  static/img/channels/thehumanistreport.jpg
Labels: content/channel, needs review

#174 Jim Sterling
  content/jimsterling.md
  data/channels/jimsterling.yml
  data/videos/jimsterling/HmW0GhdDOvw.yml
  data/videos/jimsterling/gXFKnkTr4Rk.yml
  static/img/channels/jimsterling.jpg
Labels: content/channel, needs review

#177 Allow config of channels dir
  README.md
  bake/cmd/import.go
  bake/cmd/root.go
  bake/providers/youtube.go
Labels: enhancement, needs review, xp/developer

#179 Use Config for Bake Update
  bake/cmd/update.go
Labels: content/channel, needs review

#180 Linke Sau
  content/linkesau.md
  data/channels/linkesau.yml
  data/videos/linkesau/B7uP_C8_Taw.yml
  data/videos/linkesau/L7CbKxbziQI.yml
  data/videos/linkesau/aZb4_WR6rMU.yml
  layouts/channels/single.html
  static/img/channels/linkesau.jpg
Labels: content/channel, content/video, help wanted, needs review, xp/creator, xp/user

#182 Yugopnik Videos
  content/yugopnik.md
  data/channels/yugopnik.yml
  data/videos/yugopnik/-WRP2F1Io94.yml
  data/videos/yugopnik/XsFUiFdO_sY.yml
  data/videos/yugopnik/_EkaM3K9nNc.yml
  static/img/channels/yugopnik.jpg
Labels: content/channel, content/video, needs review, xp/creator, xp/user

#181 Trash Smash
  content/trashsmash.md
  data/channels/trashsmash.yml
  data/videos/trashsmash/DhnaJlFHJKE.yml
  data/videos/trashsmash/lQmWsl2N0UE.yml
  static/img/channels/trashsmash.jpg
Labels: content/channel, content/video, help wanted, needs review, xp/creator, xp/user

#186 Allow search to be cleared
  layouts/partials/search/code.html
Labels: bug, needs review

#187 Bake CLI - Download Channel Thumbnail
  bake/providers/youtube.go
Labels: enhancement, needs review, xp/developer

#185 Bake CLI - Create Channel Pages
  bake/cmd/import.go
  bake/providers/youtube.go
  bake/util/channel.go
  bake/util/vidoes.go
Labels: enhancement, needs review, xp/developer

#189 Remove bake folder and update the readme!
  README.md
  bake/cmd/channel.go
  bake/cmd/config.go
  bake/cmd/import.go
  bake/cmd/root.go
  bake/cmd/update.go
  bake/main.go
  bake/providers/youtube.go
  bake/providers/youtube_test.go
  bake/util/channel.go
  bake/util/channel_test.go
  bake/util/url.go
  bake/util/vidoes.go
Labels: enhancement, needs review, xp/developer

#194 Vaush
  content/vaush.md
  data/channels/vaush.yml
  data/videos/vaush/Be7bNogjCvQ.yml
  data/videos/vaush/iZFvIVhz6I4.yml
  data/videos/vaush/nqfSOLad61k.yml
  data/videos/vaush/qpsX9IZ9H8o.yml
  data/videos/vaush/y7_aeFyMwD0.yml
  static/img/channels/vaush.jpg
Labels: content/channel, content/video, needs review, xp/creator, xp/user

#191 literaryhangover
  content/literaryhangover.md
  data/channels/literaryhangover.yml
  static/img/channels/literaryhangover.jpg
Labels: content/channels, good first issue, needs review, xp/creator, xp/user

#188 Dirk Socialist
  content/dirksocialist.md
  data/channels/dirksocialist.yml
  layouts/channels/single.html
  static/img/channels/dirksocialist.jpg
Labels: content/channels, good first issue, needs review, xp/creator, xp/user

#196 Right Wing Watchdog
  content/rightwingwatchdotorg.md
  data/channels/rightwingwatchdotorg.yml
  static/img/channels/rightwingwatchdotorg.jpg
Labels: content/channels, good first issue, needs review, xp/creator, xp/user

#193 Dumpster Flower
  content/dumpsterflower.md
  data/channels/dumpsterflower.yml
  data/videos/dumpsterflower/-ecfe2TXyds.yml
  data/videos/dumpsterflower/CrUuCI-gxl8.yml
  data/videos/dumpsterflower/LETmu_ItqOo.yml
  data/videos/dumpsterflower/OiANgt0gMg0.yml
  data/videos/dumpsterflower/_pduGqRGuiU.yml
  data/videos/dumpsterflower/dSe9DyhoXYw.yml
  data/videos/dumpsterflower/ecfe2TXyds.yml
  data/videos/dumpsterflower/fqPfvEdQFXU.yml
  data/videos/dumpsterflower/g6RESb7-btY.yml
  data/videos/dumpsterflower/nNO3fWe1egY.yml
  data/videos/dumpsterflower/z1r1jS6gMIU.yml
  static/img/channels/dumpsterflower.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#208 simonobirek
  content/simonobirek.md
  data/channels/simonobirek.yml
  data/videos/simonoberik/3IXvaFCauLw.yml
  data/videos/simonoberik/Pmp6kszB8qw.yml
  data/videos/simonoberik/yvSov9optlU.yml
  static/img/channels/simonobirek.jpg
Labels: content/channels, content/video, xp/creator, xp/user

#205 Tom Nicholas
  content/tomnicholas.md
  data/channels/tomnicholas.yml
  data/videos/tomnicholas/-LI_2-qsovo.yml
  data/videos/tomnicholas/o6s_sW6FZ2g.yml
  static/img/channels/tomnicholas.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#190 Nyx Fears
  content/nyxfears.md
  data/channels/nyxfears.yml
  static/img/channels/nyxfears.jpg
Labels: content/channels, good first issue, needs review, xp/creator, xp/user

#207 Gwen_No_Fear
  content/gwennofear.md
  data/channels/gwennofear.yml
  data/videos/gwennofear/3QCg4IVNFYk.yml
  static/img/channels/gwennofear.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#206 Space Babies
  content/spacebabies.md
  data/channels/spacebabies.yml
  data/videos/spacebabies/cowDnzo5eNI.yml
  data/videos/spacebabies/goFIb-XTk3E.yml
  static/img/channels/spacebabies.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#204 Means TV
  content/meanstv.md
  data/channels/meanstv.yml
  data/videos/meanstv/0k1l77f4eVo.yml
  data/videos/meanstv/LdB_4GrnagY.yml
  data/videos/meanstv/MGo-ydzjtBY.yml
  data/videos/meanstv/oFeXZbaKZ7c.yml
  data/videos/meanstv/uP3-dQHJjFo.yml
  layouts/channels/single.html
  static/img/channels/meanstv.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#218 Chomsky's Philosophy
  content/chomskysphilosophy.md
  data/channels/chomskysphilosophy.yml
  data/videos/chomskysphilosophy/1umiaNjOinE.yml
  data/videos/chomskysphilosophy/Q8A1_rL0d1c.yml
  data/videos/chomskysphilosophy/YGN4xIFIMtU.yml
  data/videos/chomskysphilosophy/c_2pNnSDTYA.yml
  data/videos/chomskysphilosophy/xCkBCEeUQfk.yml
  static/img/channels/chomskysphilosophy.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#217 ReyRoSho
  content/reyrosho.md
  data/channels/reyrosho.yml
  data/videos/reyrosho/LFBnQgeds5w.yml
  data/videos/reyrosho/WiMTe-wrmg0.yml
  data/videos/reyrosho/oQnAMWzYgX0.yml
  data/videos/reyrosho/zy1sryC8lKw.yml
  static/img/channels/reyrosho.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#216 Vic Berger
  content/vicberger.md
  data/channels/vicberger.yml
  data/videos/vicberger/BTB3KGitKWo.yml
  data/videos/vicberger/JhdeqKb64RU.yml
  data/videos/vicberger/L4h9CLqLULU.yml
  data/videos/vicberger/s1p9lVmOnzo.yml
  data/videos/vicberger/u8DUWHU6GRM.yml
  static/img/channels/vicberger.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#215 Shonen Ronin
  content/shonenronin.md
  data/channels/shonenronin.yml
  data/videos/shonenronin/Ii_iS287h4k.yml
  data/videos/shonenronin/e4ZhVdkj0Qk.yml
  data/videos/shonenronin/f0vWVo9Pj5k.yml
  static/img/channels/shonenronin.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#214 Ask a Mortician
  content/askamortician.md
  data/channels/askamortician.yml
  data/videos/askamortician/71Z677IXUak.yml
  data/videos/askamortician/EG0PtwYJU0M.yml
  data/videos/askamortician/F4zRwIWagKs.yml
  data/videos/askamortician/O5xMpsYdzgg.yml
  static/img/channels/askamortician.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#213 Vegan Anarchist
  content/veggieanarchist.md
  data/channels/veggieanarchist.yml
  data/videos/veggieanarchist/KsVRcXeAFUc.yml
  data/videos/veggieanarchist/YNCYjIBQqQ0.yml
  data/videos/veggieanarchist/jTjP4FFjB8g.yml
  static/img/channels/veggieanarchist.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#210 Update petercoffin.yml
  data/channels/petercoffin.yml
Labels: content/channels, needs review

#209 Update contrapoints.yml
  data/channels/contrapoints.yml
Labels: content/channels, needs review

#203 Black Red Guard
  content/blackredguard.md
  data/channels/blackredguard.yml
  data/videos/blackredguard/Q2AxRdKmq3I.yml
  data/videos/blackredguard/rbplxGDXuFI.yml
  data/videos/blackredguard/xFTz0PRwTXY.yml
  static/img/channels/blackredguard.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#201 Zeria
  content/zeria.md
  data/channels/zeria.yml
  data/videos/zeria/2TfTwZD7HGU.yml
  data/videos/zeria/en4bcnxpNO0.yml
  static/img/channels/zeria.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#199 Verso Books
  content/playlists/organizing.md
  content/versobooks.md
  data/channels/versobooks.yml
  data/videos/versobooks/FMuHG3VbNU0.yml
  data/videos/versobooks/XBZg2gqzp3U.yml
  data/videos/versobooks/jW6GGdAmMMY.yml
  data/videos/versobooks/nVrMXy7101k.yml
  static/img/channels/versobooks.jpg
Labels: content/channels, content/playlist, content/video, good first issue, needs review, xp/creator, xp/user

#224 Update README.md Video
  README.md
Labels: needs review, xp/developer

#221 Standardized Videos
  content/hbomberguy.md
  data/videos/beauofthefifthcolumn/BmjB7TUroyE.yml
  data/videos/contrapoints/1pTPuoGjQsI.yml
  data/videos/contrapoints/4LqZdkkBDas.yml
  data/videos/contrapoints/6czRFLs5JQo.yml
  data/videos/contrapoints/9BlNGZunYM8.yml
  data/videos/contrapoints/9bbINLWtMKI.yml
  data/videos/contrapoints/AR7ryg1w_IQ.yml
  data/videos/contrapoints/GWwiUIVpmNY.yml
  data/videos/contrapoints/PbBzhqJK3bg.yml
  data/videos/contrapoints/QuN6GfUix7c.yml
  data/videos/contrapoints/S6GodWn4XMM.yml
  data/videos/contrapoints/Sx4BVGPkdzk.yml
  data/videos/contrapoints/fD2briZ6fB0.yml
  data/videos/contrapoints/gJW4-cOZt8A.yml
  data/videos/contrapoints/hyaftqCORT4.yml
  data/videos/contrapoints/j1dJ8whOM8E.yml
  data/videos/contrapoints/lmsoVFCUN3Q.yml
  data/videos/contrapoints/qtj7LDYaufM.yml
  data/videos/contrapoints/wyV0yeSZ94o.yml
  data/videos/contrapoints/z1afqR5QkDM.yml
  data/videos/deadheadanimation/JYpbrsc_fpg.yml
  data/videos/deadheadanimation/MezCgCpbgQg.yml
  data/videos/deadheadanimation/W-HWeuSEkiI.yml
  data/videos/deadheadanimation/WonLalhJW-o.yml
  data/videos/deadheadanimation/bdjY0Ino1Mo.yml
  data/videos/hbomberguy/TebCHHCw9rY.yml
  data/videos/jimsterling/HmW0GhdDOvw.yml
  data/videos/jimsterling/gXFKnkTr4Rk.yml
  data/videos/meanstv/0k1l77f4eVo.yml
  data/videos/meanstv/LdB_4GrnagY.yml
  data/videos/meanstv/MGo-ydzjtBY.yml
  data/videos/meanstv/oFeXZbaKZ7c.yml
  data/videos/meanstv/uP3-dQHJjFo.yml
  data/videos/noncompete/54ECvhUXUkY.yml
  data/videos/spacebabies/cowDnzo5eNI.yml
  data/videos/stimulator/_H_-DFBeeY0.yml
  data/videos/thejuicemedia/0OJTMi_v6DA.yml
  data/videos/thejuicemedia/0yzeOqV7eKI.yml
  data/videos/thejuicemedia/275o-JObtWY.yml
  data/videos/thejuicemedia/5xL905Uzw9E.yml
  data/videos/thejuicemedia/89ZkydX0FPw.yml
  data/videos/thejuicemedia/A2ymjCqaAsY.yml
  data/videos/thejuicemedia/BaA0hZ406YY.yml
  data/videos/thejuicemedia/BhfqQzMVJxI.yml
  data/videos/thejuicemedia/OL8a1YEhk_o.yml
  data/videos/thejuicemedia/Pa8rSc2dung.yml
  data/videos/thejuicemedia/QjU8R8oj328.yml
  data/videos/thejuicemedia/XlUQMH19BkQ.yml
  data/videos/thejuicemedia/XwQkQxvWilk.yml
  data/videos/thejuicemedia/cuQZ6rALub8.yml
  data/videos/thejuicemedia/eW-OMR-iWOE.yml
  data/videos/thejuicemedia/ippYOXR65sQ.yml
  data/videos/thejuicemedia/qSAEWVy4HYc.yml
  data/videos/thejuicemedia/sitPeRlTdNs.yml
  data/videos/thejuicemedia/xqegTsi6SiE.yml
Labels: content/video, needs review, xp/developer

#225 Bug Fix: Missing Video Link
  layouts/partials/videos/card.html
Labels: bug, content/video, xp/user

#226 Homepage Thumbnails
  content/_index.md
  content/askamortician.md
  content/blackredguard.md
  content/chomskysphilosophy.md
  content/gwennofear.md
  content/meanstv.md
  content/resonanceaudio.md
  content/reyrosho.md
  content/shonenronin.md
  content/spacebabies.md
  content/stepbackhistory.md
  content/stimulator.md
  content/t1j.md
  content/theantifada.md
  content/thedoubletake.md
  content/thegrayzone.md
  content/thejimmydoreshow.md
  content/thejuicemedia.md
  content/themajorityreport.md
  content/theprogressivevoice.md
  content/thespartacastleague.md
  content/theyoungturks.md
  content/thomavella.md
  content/thoughtslime.md
  content/threearrows.md
  content/tmbs.md
  content/tmm.md
  content/tomnicholas.md
  content/tovarishchendymion.md
  content/trashsmash.md
  content/unicornriot.md
  content/vaush.md
  content/veggieanarchist.md
  content/versobooks.md
  content/vicberger.md
  content/wisecrack.md
  content/xexizy.md
  content/yugopnik.md
  content/zeria.md
  content/zerobooks.md
  data/videos/theserfs/R1lu8-PuMmk.yml
  layouts/partials/base/head.html
  layouts/partials/playlists/videos.html
  layouts/partials/videos/card.html
  scripts/create_channel_page.sh
  static/css/breadtube.css
Labels: bug, content/video, needs review, xp/user

#227 fixed responsive video card
  static/css/breadtube.css
Labels: bug, content/video, needs review, xp/user

#230 remove email from forms
  layouts/partials/channels/new.html
  layouts/partials/playlists/new.html
Labels: enhancement, needs review, tech debt, xp/user

#202 The New Symbolization
  content/thenewsymbolization.md
  data/channels/thenewsymbolization.yml
  data/videos/thenewsymbolization/VdHO78PWr_8.yml
  data/videos/thenewsymbolization/Zb_QudF0PNU.yml
  static/img/channels/thenewsymbolization.jpg
Labels: content/channels, content/video, good first issue, needs review

#197 Theory Pleeb
  content/theorypleeb.md
  data/channels/theorypleeb.yml
  data/videos/theorypleeb/Rh61Iq4RZqk.yml
  data/videos/theorypleeb/YJxHdGNNJTo.yml
  data/videos/theorypleeb/f-IhBMjvvwQ.yml
  data/videos/theorypleeb/ye6o4qIMUaY.yml
  static/img/channels/theorypleeb.jpg
Labels: content/channels, content/video, good first issue, xp/creator, xp/user

#195 Arthouse Politics
  content/arthousepolitics.md
  data/channels/arthousepolitics.yml
  data/videos/arthousepolitics/3bbj63mrSU0.yml
  data/videos/arthousepolitics/5FiW4vVh3xo.yml
  data/videos/arthousepolitics/DG9tumRD7Gg.yml
  data/videos/arthousepolitics/DwWTTkn58A4.yml
  data/videos/arthousepolitics/WseyrYuD8ao.yml
  data/videos/arthousepolitics/kKZe6Itx6tg.yml
  static/img/channels/arthousepolitics.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#238 askamortician title fix
  data/videos/askamortician/F4zRwIWagKs.yml
Labels: bug, good first issue, needs review

#247 r/BreadTube link on channel profiles
  config.toml
  i18n/en.toml
  layouts/channel/single.html
  static/css/breadtube.css
Labels: content/channels, enhancement, needs review, xp/creator, xp/user

#244 S Jay Double View
  content/sjaydoubleview.md
  data/channels/sjaydoubleview.yml
  data/videos/sjaydoubleview/42WvkEEKFiM.yml
  data/videos/sjaydoubleview/GXz9wZNeDrw.yml
  data/videos/sjaydoubleview/XAXXzL2qCO0.yml
  data/videos/sjaydoubleview/j73N8cPifWA.yml
  data/videos/sjaydoubleview/viq07uK17ss.yml
  static/img/channels/sjaydoubleview.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/user

#239 Vaush Content
  content/vaush.md
  data/videos/vaush/2DACBsU_Eeo.yml
  data/videos/vaush/KC147vQFfaw.yml
  data/videos/vaush/oUVLCCKwkdw.yml
Labels: content/video, good first issue, needs review
