Repository breadtubetv/breadtubetv, pull requests merged in 2019-02, with the labels that each got.

#62 Sorts Channels by Subscribers
  layouts/partials/channels/row.html
Labels: data channels, enhancement, in progress, xp user

#72 STJN Layout
  config.toml
  data/channels/anactualjoke.yml
  data/channels/anarchopac.yml
  data/channels/petercoffin.yml
  data/channels/theyoungturks.yml
  layouts/_default/baseof.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/channels/single.html
  layouts/partials/base/foot.html
  layouts/partials/base/footer.html
  layouts/partials/base/head.html
  layouts/partials/base/navigation.html
  layouts/partials/base/sidebar.html
  layouts/partials/channels/card.html
  layouts/partials/channels/new.html
  layouts/partials/channels/row.html
  layouts/partials/playlists/new.html
  layouts/partials/playlists/row.html
  layouts/partials/playlists/videos.html
  layouts/partials/videos/card.html
  layouts/playlists/single.html
  static/css/breadtube.css
Labels: enhancement, needs review, xp user

#78 Spelling Fixes
  data/channels/hbomberguy.yml
  data/channels/philosophytube.yml
  data/channels/ploppy111.yml
Labels: data channels, needs review

#73 Let's talk about how to reach out to cops....
  content/playlists/authority.md
  data/videos.yml
Labels: data playlists, needs review

#74 Brother Neuro
  data/channels/brotherneuro.yml
  static/img/channels/brotherneuro.jpg
Labels: data channels, needs review

#75 The Serfs Subscriber Update
  data/channels/theserfs.yml
Labels: data channels, needs review

#76 The Grayzone
  data/channels/thegrayzone.yml
  static/img/channels/thegrayzone.jpg
Labels: data channels, needs review

#79 DeadHead Animation / Howto: Revolution
  content/playlists/deadheadanimation/howto-revolution.md
  data/channels/deadheadanimation.yml
  data/videos.yml
  static/img/channels/deadheadanimation.jpg
Labels: data channels, xp user

#77 Channel in Path
  layouts/partials/channels/card.html
Labels: needs review, tech debt, xp user

#80 Queer Transmission
  data/channels/queertransmission.yml
  static/img/channels/queertransmission.jpg
Labels: data channels, xp user

#83 Stimulator
  data/channels/stimulator.yml
  static/img/channels/stimulator.jpg
Labels: data channels, needs review, xp user

#82 sarahz
  data/channels/sarahz.yml
  static/img/channels/sarahz.jpg
Labels: content/channel, needs review, xp user

#84 Typo Against
  config.toml
Labels: bug, needs review

#85 Update queertransmission.yml
  data/channels/queertransmission.yml
Labels: content/channel, needs review

#51 Channel Import Script
  README.md
  bake/client_secret.json
  bake/cmd/channel.go
  bake/cmd/config.go
  bake/cmd/import.go
  bake/cmd/root.go
  bake/main.go
  bake/providers/youtube.go
  bake/providers/youtube_test.go
  bake/util/channel.go
  bake/util/channel_test.go
  bake/util/url.go
Labels: content/channel, needs review, xp/developer

#90 Citizen Foffie
  data/channels/citizenfoffiehassel.yml
  static/img/channels/citizenfoffiehassel.jpg
Labels: content/channel
