Repository breadtubetv/breadtubetv, pull requests merged in 2019-05, with the labels that each got.

#241 Videos Navigation
  config.toml
  content/videos/_index.md
  layouts/partials/base/footer.html
  layouts/videos/list.html
Labels: content/video, enhancement, needs review, tech debt, xp/user

#249 Github Settings
  .github/settings.yml
Labels: needs review, xp/developer

#246 just wondering
  content/justwondering.md
  data/channels/justwondering.yml
  data/videos/justwondering/08r1RODl9rA.yml
  data/videos/justwondering/EwzWTIdhYRQ.yml
  data/videos/justwondering/wKy-0rJXX0k.yml
  static/img/channels/justwondering.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#245 Brianne and Matt
  content/brianneandmatt.md
  data/channels/brianneandmatt.yml
  data/videos/brianneandmatt/8XfVEiEMIvA.yml
  data/videos/brianneandmatt/RPW58bS6V9k.yml
  data/videos/brianneandmatt/V45Q2flGWws.yml
  data/videos/brianneandmatt/ZcljqWivSKA.yml
  data/videos/brianneandmatt/h9NG12kbAd0.yml
  static/img/channels/brianneandmatt.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#251 reddit link uses title:name OR flair:name
  layouts/channel/single.html
Labels: enhancement, needs review, xp/creator, xp/user

#228 Homepage Blogpost
  content/blog/homepage.md
  content/blog/search.md
  layouts/blog/list.html
  layouts/blog/single.html
  static/css/breadtube.css
  static/img/blog/homepage-screenshot.png
  static/img/blog/search-screenshot.jpg
  static/img/blog/search-screenshot.png
Labels: in progress, xp/user

#222 NFKRZ
  content/nfkrz.md
  data/channels/nfkrz.yml
  data/videos/nfkrz/FrwMrPIHOIw.yml
  data/videos/nfkrz/iyqOA4h_lZI.yml
  data/videos/nfkrz/jNNLMzJCnLY.yml
  data/videos/nfkrz/wJwXxajR8FE.yml
  static/img/channels/nfkrz.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#220 Dr Layman
  content/drlayman.md
  data/channels/drlayman.yml
  data/videos/drlayman/7s2BLwkk7WI.yml
  data/videos/drlayman/Ckd_f4KOPb4.yml
  data/videos/drlayman/hinYz6UBGMM.yml
  data/videos/drlayman/kqHql6XeQVs.yml
  data/videos/drlayman/na6HhUXh51A.yml
  static/img/channels/drlayman.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#231 Non Compete - How Anarchism Works
  content/noncompete.md
  content/playlists/how-anarchism-works.md
  data/videos/noncompete/Hmy1jjRnl8I.yml
  data/videos/noncompete/TKoiAXX6KFs.yml
  data/videos/noncompete/TquMOei4C4o.yml
  data/videos/noncompete/ZzEl5RIMp7M.yml
Labels: content/playlist, content/video, good first issue, needs review, xp/user

#232 Means TV Content
  content/meanstv.md
  data/videos/meanstv/8uaInDOjYyw.yml
  data/videos/meanstv/MTk_eGZHbNY.yml
Labels: content/video, good first issue, needs review

#234 Yaz Minsky
  content/yazminsky.md
  data/channels/yazminsky.yml
  data/videos/yazminsky/1m0aEO7CrxM.yml
  static/img/channels/yazminsky.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#235 Honker 3D
  content/honker3d.md
  data/channels/donoteat01.yml
  data/channels/honker3d.yml
  data/videos/honker3d/-55jtMMLJxk.yml
  data/videos/honker3d/MU3YamGgMcA.yml
  data/videos/honker3d/yVFufralL5k.yml
  static/img/channels/honker3d.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#236 The Devtopian Commune
  content/devtopiancommune.md
  data/channels/devtopiancommune.yml
  data/videos/devtopiancommune/O7zikmzFv1k.yml
  static/img/channels/devtopiancommune.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#237 brendanmakesvideos
  content/brendanmakesvideos.md
  data/channels/brendanmakesvideos.yml
  data/videos/brendanmakesvideos/ouNp_QSdiw0.yml
  data/videos/brendanmakesvideos/r6zz-7_k_6U.yml
  static/img/channels/brendanmakesvideos.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#240 Secular Talk Content
  content/seculartalk.md
  data/channels/seculartalk.yml
  data/videos/seculartalk/2UbDdd6WJLc.yml
  data/videos/seculartalk/8fkFAmIxgcs.yml
  data/videos/seculartalk/RehaBr5XtkE.yml
  data/videos/seculartalk/vbl7TnYt0Lw.yml
Labels: content/channels, content/video, good first issue, needs review, xp/user

#242 The Kavernacle
  content/thekavernacle.md
  data/channels/thekavernacle.yml
  data/videos/thekavernacle/-radpXAviws.yml
  data/videos/thekavernacle/iPq6W-1uXB0.yml
  data/videos/thekavernacle/vcxrYQTG6uk.yml
  static/img/channels/thekavernacle.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#243 Kurzegesagt
  content/kurzgesagt.md
  data/channels/kurzgesagt.yml
  data/videos/kurzgesagt/MBRqu0YOH14.yml
  data/videos/kurzgesagt/n3Xv_g3g-mA.yml
  data/videos/kurzgesagt/p_8yK2kmxoo.yml
  static/img/channels/kurzgesagt.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#252 Bufgix: Fix some issue with the Dr Layman content
  data/channels/drlayman.yml
Labels: bug, content/channels, needs review

#223 Anti-Social Media
  content/antisocialmedia.md
  data/channels/antisocialmedia.yml
  data/videos/antisocialmedia/5u_aBTYF9f0.yml
  data/videos/antisocialmedia/MCCyoo0LG40.yml
  data/videos/antisocialmedia/bj4AfQaTQCQ.yml
  data/videos/antisocialmedia/d0aZy047vBQ.yml
  data/videos/antisocialmedia/w9zLGFx5Sqg.yml
  static/img/channels/antisocialmedia.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#219 The Intercept
  content/theintercept.md
  data/channels/theintercept.yml
  data/videos/theintercept/2s4Y-uZG5zk.yml
  data/videos/theintercept/VfQBofKARy8.yml
  data/videos/theintercept/fjiHWiHMSn4.yml
  data/videos/theintercept/wVQn_DdkYlU.yml
  static/img/channels/theintercept.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#254 Reich-Wing Watch
  content/reichwingwatch.md
  data/channels/reichwingwatch.yml
  data/channels/theintercept.yml
  data/videos/reichwingwatch/Fkn4ugYO6uc.yml
  data/videos/reichwingwatch/_OFudWnMJSU.yml
  data/videos/reichwingwatch/yfX78VGeUrg.yml
  static/img/channels/reichwingwatch.jpg
Labels: content/channels, content/video, enhancement, good first issue, needs review, xp/creator, xp/user

#260 Flea Market Socialist Videos
  content/fleamarketsocialist.md
  data/channels/fleamarketsocialist.yml
  data/videos/fleamarketsocialist/3V_ONBEtYHk.yml
  data/videos/fleamarketsocialist/5eMJJgTL0Tc.yml
  data/videos/fleamarketsocialist/z9rSIT_3_JM.yml
Labels: content/video, needs review, xp/creator, xp/user

#262 Deprogramming
  content/deadheadanimation.md
  content/faradayspeaks.md
  content/noncompete.md
  content/playlists/deprogramming.md
  content/shaun.md
  content/threearrows.md
  data/videos/faradayspeaks/nX9MZ593MTU.yml
  data/videos/noncompete/aqRCSzUTGcM.yml
  data/videos/noncompete/yL3FTFLQEEw.yml
  data/videos/shaun/VUbxVfSqtt8.yml
  data/videos/threearrows/69obN625Fjs.yml
Labels: content/playlist, content/video, needs review, xp/creator, xp/user

#263 Richard Wolff Briefly
  content/richardwolffbriefly.md
  data/channels/richardwolffbriefly.yml
  data/videos/richardwolffbriefly/7ZsmyfpoILw.yml
  data/videos/richardwolffbriefly/G63YyFalTzE.yml
  data/videos/richardwolffbriefly/J0LDn-uOwmY.yml
  data/videos/richardwolffbriefly/XOLIfsK-Ak4.yml
  data/videos/richardwolffbriefly/jo6FdbocWdI.yml
  data/videos/richardwolffbriefly/kw1W2oATpvE.yml
  i18n/en.toml
  static/img/channels/richardwolffbriefly.jpg
Labels: content/channels, content/video, enhancement, needs review, xp/creator, xp/user

#261 Cuñado de izquierdas
  content/cunadodeizquierdas.md
  data/channels/cunadodeizquierdas.yml
  data/videos/cunadodeizquierdas/t43kiPEDJt8.yml
  data/videos/cunadodeizquierdas/xOAJSvyR2C4.yml
  static/img/channels/cunadodeizquierdas.jpg
Labels: content/channels, content/video, enhancement, needs review, xp/creator, xp/user

#265 Remove dead videos
  content/andrejpskraba.md
  content/channels/_index.md
  content/muke.md
  data/videos/andrejpskraba/78BFFq_8XvM.yml
  data/videos/muke/WGRC5AA1wF0.yml
Labels: content/video, needs review

#264 Show tags (not breadtube) on channels
  layouts/channel/single.html
  static/css/breadtube.css
Labels: enhancement, needs review, xp/creator

#268 Global search
  data/videos/meanstv/8uaInDOjYyw.yml
  layouts/_default/baseof.html
  layouts/channels/list.html
  layouts/partials/base/navigation.html
  layouts/partials/playlists/row.html
  layouts/partials/search/bar.html
  layouts/partials/search/code.html
  layouts/partials/videos/card.html
Labels: enhancement, needs review, xp/creator, xp/user

#270 One Man Left
  content/onemanleft.md
  data/channels/onemanleft.yml
  data/videos/onemanleft/LWL3BD9_p-4.yml
  data/videos/onemanleft/Xvl77xvQfiA.yml
  data/videos/onemanleft/a04ZuuKxj8k.yml
  data/videos/onemanleft/rURhJr0cDnk.yml
  data/videos/onemanleft/xwxiqHY7kvw.yml
  data/videos/onemanleft/yGZljiS1r1o.yml
  static/img/channels/onemanleft.jpg
Labels: content/channels, content/video, good first issue, needs review, xp/creator, xp/user

#258 Sunflower Socialist
  content/sunflowersocialist.md
  data/channels/sunflowersocialist.yml
  data/videos/sunflowersocialist/VQRqQZw8LPg.yml
  data/videos/sunflowersocialist/fjJwh9f-sbI.yml
  data/videos/sunflowersocialist/nisfgSU927U.yml
  static/img/channels/sunflowersocialist.jpg
Labels: content/channels, content/video, enhancement, good first issue, needs review, xp/creator, xp/user

#279 fix url changing
  layouts/partials/search/code.html
Labels: enhancement, needs review, xp/user

#278 Secular Talk
  content/seculartalk.md
  data/channels/seculartalk.yml
  data/videos/seculartalk/-H6aFWphNcA.yml
  data/videos/seculartalk/3XUzKlhDZDM.yml
  data/videos/seculartalk/Xi7jbtioxCE.yml
  data/videos/seculartalk/yBObh_XC1A4.yml
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#281 Beauty | Contrapoints
  content/_index.md
  content/contrapoints.md
  data/videos/contrapoints/n9mspMJTNEY.yml
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#288 Hugo 0.55
  netlify.toml
Labels: needs review

#289 Hasan Piker
  content/channel/hasanabi.md
  content/channel/hasanpiker.md
  data/channels/hasanabi.yml
  data/channels/hasanpiker.yml
  data/videos/hasanpiker/-Sgmmi8Pfsc.yml
  data/videos/hasanpiker/2piKYzffn4w.yml
  data/videos/hasanpiker/3F2fsX8SJe8.yml
  data/videos/hasanpiker/9pStcIjzAWI.yml
  data/videos/hasanpiker/9q8WIAPiDuE.yml
  data/videos/hasanpiker/LghdsOzR2Es.yml
  data/videos/hasanpiker/MkYKfEGysfQ.yml
  data/videos/hasanpiker/NGvlKHaH6fQ.yml
  data/videos/hasanpiker/OuQqxQ7_0uQ.yml
  data/videos/hasanpiker/Raq42y83EpU.yml
  static/img/channels/hasanpiker.jpg
Labels: needs review, xp/creator, xp/developer, xp/user

#290 Magic Sort Order
  layouts/partials/channels/row.html
Labels: needs review

#291 Channel Update Form
  layouts/channel/single.html
  layouts/partials/channels/edit.html
  layouts/partials/search/code.html
Labels: needs review, xp/developer
