Repository breadtubetv/breadtubetv, pull requests merged in 2019-03, with the labels that each got.

#91 Stimulator / Trouble 18 : ACAB
  content/playlists/authority.md
  data/videos.yml
Labels: content/playlist, needs review, xp/user

#94 left1ne
  data/channels/left1ne.yml
  static/img/channels/left1ne.jpg
Labels: content/channel, needs review, xp/user

#92 Store Videos under channel/slug
  data/videos.yml
  data/videos/beauofthefifthcolumn/9b3vDdqY1PA.yml
  data/videos/beauofthefifthcolumn/BmjB7TUroyE.yml
  data/videos/beauofthefifthcolumn/LB3HUXdmid4.yml
  data/videos/contrapoints/4LqZdkkBDas.yml
  data/videos/deadheadanimation/JYpbrsc_fpg.yml
  data/videos/deadheadanimation/MezCgCpbgQg.yml
  data/videos/deadheadanimation/W-HWeuSEkiI.yml
  data/videos/deadheadanimation/WonLalhJW-o.yml
  data/videos/deadheadanimation/bdjY0Ino1Mo.yml
  data/videos/dirkkelly/KlMlZTHShFw.yml
  data/videos/earthstrike/QLey2i0hYlc.yml
  data/videos/earthstrike/bxffxnrQDiE.yml
  data/videos/hbomberguy/TebCHHCw9rY.yml
  data/videos/katblaque/Yw_RQxNM0Kk.yml
  data/videos/noncompete/54ECvhUXUkY.yml
  data/videos/noncompete/b_-DuHN-UVY.yml
  data/videos/noncompete/hMMHW0Ay7ko.yml
  data/videos/perseus999/Nr7EhLLHOp4.yml
  data/videos/petercoffin/4ZnHwc6TfB0.yml
  data/videos/philosophytube/5gnlhmaM-dM.yml
  data/videos/philosophytube/tmk47kh7fiE.yml
  data/videos/realmedia/gqfoJvD0Ifg.yml
  data/videos/shaun/PE84fH_Pc9c.yml
  data/videos/stimulator/_H_-DFBeeY0.yml
  data/videos/thoughtslime/9Sc67W4ilVI.yml
  data/videos/thoughtslime/vk5xnEL8mYg.yml
  layouts/partials/playlists/videos.html
Labels: content/video, xp/developer

#95 wisecrack
  data/channels/citizenfoffiehassel.yml
  data/channels/left1ne.yml
  data/channels/wisecrack.yml
  static/img/channels/wisecrack.jpg
Labels: content/channel, needs review

#96 Link to YouTube Channel
  content/_redirects
Labels: enhancement, help wanted, needs review

#99 Add Novara Media channel
  data/channels/novaramedia.yml
  static/img/channels/novaramedia.jpg
Labels: content/channel

#103 Update friendlyjordies.yml
  data/channels/friendlyjordies.yml
Labels: content/channel, needs review

#105 list item padding on mobile
  static/css/breadtube.css
Labels: bug, needs review, xp/user

#104 Being more specific with tags, making homepage more breadtubey
  data/channels/democracyatwork.yml
  data/channels/democracynow.yml
  data/channels/empirefiles.yml
  data/channels/friendlyjordies.yml
  data/channels/internetcommentiquette.yml
  data/channels/seculartalk.yml
  data/channels/thejuicemedia.yml
  data/channels/themajorityreport.yml
  data/channels/theyoungturks.yml
  data/channels/wisecrack.yml
Labels: content/channel, xp/user

#108 Added The Double Take channel
  data/channels/thedoubletake.yml
  static/img/channels/thedoubletake.jpg
Labels: content/channel, needs review

#107 Forestry
  .forestry/front_matter/templates/pages.yml
  .forestry/front_matter/templates/playlist.yml
  .forestry/settings.yml
  README.md
  content/australia.md
  content/news.md
  layouts/_default/single.html
  static/android-chrome-192x192.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/mstile-150x150.png
  static/safari-pinned-tab.svg
  static/site.webmanifest
Labels: needs review, xp/creator

#110 Fixed three arrows count
  data/channels/threearrows.yml
Labels: bug, content/channel, needs review

#109 Rational National
  content/_index.md
  data/channels/rationalnational.yml
  static/img/channels/rationalnational.jpg
Labels: content/channel, needs review, xp/user

#111 Obambay
  data/channels/obambay.yml
  static/img/channels/obambay.jpg
Labels: content/channel, needs review

#112 Rotfront Gaming
  data/channels/rotfrontgaming.yml
  static/img/channels/rotfrontgaming.jpg
Labels: content/channel, needs review

#118 Footer Link Order
  config.toml
Labels: needs review, xp/user

#116 Favicon Update
  static/android-chrome-192x192.png
  static/android-chrome-256x256.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/css/breadtube.css
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/img/breadtube.png
  static/mstile-150x150.png
  static/safari-pinned-tab.svg
  static/site.webmanifest
Labels: content/channel, needs review, xp/user

#119 Search
  layouts/_default/baseof.html
  layouts/partials/base/banner.html
  layouts/partials/base/footer.html
  layouts/partials/base/navigation.html
  layouts/partials/base/search.html
  layouts/partials/channels/card.html
  static/css/breadtube.css
  static/js/fuse.js
Labels: enhancement, needs review, xp/user

#114 Remove Client Secret
  .gitignore
  bake/client_secret.json
Labels: needs review, tech debt

#120 Banner Link to Home
  layouts/partials/base/banner.html
  static/css/breadtube.css
Labels: needs review, xp/user

#122 Blog Post: Search
  config.toml
  content/blog/_index.md
  content/blog/search.md
  layouts/blog/list.html
  layouts/blog/single.html
  layouts/partials/base/banner.html
  static/css/breadtube.css
  static/img/blog/search-screenshot.jpg
Labels: needs review, xp/developer, xp/user

#124 Bad Empanada
  data/channels/badempanada.yml
  static/img/channels/badempanada.jpg
Labels: content/channel, needs review, xp/user

#125 Unicorn Riot
  data/channels/unicornriot.yml
  static/img/channels/unicornriot.jpg
Labels: content/channel, needs review, xp/user

#123 Jimmy Dore
  data/channels/thejimmydoreshow.yml
  static/img/channels/thejimmydoreshow.jpg
Labels: content/channel, needs review, xp/user

#136 Manifest Update
  static/site.webmanifest
Labels: enhancement, needs review, xp/user

#135 Update Search, Navigation, and Add UX
  content/channels/new.md
  content/playlists/new/index.md
  layouts/_default/baseof.html
  layouts/partials/base/banner.html
  layouts/partials/base/navigation.html
  layouts/playlists/list.html
  static/css/breadtube.css
Labels: enhancement, needs review, xp/user

#138 Sort Channels By Slug
  layouts/partials/channels/row.html
Labels: bug, enhancement, needs review, xp/creator, xp/user

#140 Search Usability
  layouts/_default/baseof.html
  layouts/partials/base/create.html
  layouts/partials/search/bar.html
  layouts/partials/search/code.html
Labels: bug, needs review, xp/user
