Repository breadtubetv/breadtubetv, pull requests merged in 2019-08, with the labels that each got.

#346 Current Affairs
  content/channel/currentaffairs.md
  data/channels/currentaffairs.yml
  data/videos/currentaffairs/0tUkhnTNxZw.yml
  data/videos/currentaffairs/1qVxCT1JyyY.yml
  data/videos/currentaffairs/2VVzJ7A76HM.yml
  data/videos/currentaffairs/2su8PzYUXRw.yml
  data/videos/currentaffairs/3mCWkeGrss8.yml
  data/videos/currentaffairs/3ppbStT2Ls4.yml
  data/videos/currentaffairs/4qrsrDzV4rg.yml
  data/videos/currentaffairs/6B2n0rXsW4o.yml
  data/videos/currentaffairs/86Zjmld5rPE.yml
  data/videos/currentaffairs/A_1E6vUtVNY.yml
  data/videos/currentaffairs/AikU2-dXPPg.yml
  data/videos/currentaffairs/BciAYkW1Axg.yml
  data/videos/currentaffairs/Bp50By_KBCs.yml
  data/videos/currentaffairs/C0b0oe6yjws.yml
  data/videos/currentaffairs/CJwbORXSlKI.yml
  data/videos/currentaffairs/D2uAT3G-B0c.yml
  data/videos/currentaffairs/EksDQ57dIUw.yml
  data/videos/currentaffairs/FaZGEwnY90s.yml
  data/videos/currentaffairs/HaR71pfWaX8.yml
  data/videos/currentaffairs/HrTfYZwsXq8.yml
  data/videos/currentaffairs/J8IKRIoTqoo.yml
  data/videos/currentaffairs/JkesrLxgh_k.yml
  data/videos/currentaffairs/M70XAzY2ZjY.yml
  data/videos/currentaffairs/S541AIiWBgE.yml
  data/videos/currentaffairs/VhZXIaOu-zo.yml
  data/videos/currentaffairs/X7nzyrbWv9E.yml
  data/videos/currentaffairs/ZjazRBTzyJc.yml
  data/videos/currentaffairs/ecVif85yAkw.yml
  data/videos/currentaffairs/enu-MIQOzi0.yml
  data/videos/currentaffairs/gkgytjTccO8.yml
  data/videos/currentaffairs/iq7veKwvTZI.yml
  data/videos/currentaffairs/khbui3B9poE.yml
  data/videos/currentaffairs/lK-MEE3WDP8.yml
  data/videos/currentaffairs/lz6KxNU2c3w.yml
  data/videos/currentaffairs/n79jH8ktVOQ.yml
  data/videos/currentaffairs/pMI5loGdaZE.yml
  data/videos/currentaffairs/pweVUSx_OS0.yml
  data/videos/currentaffairs/tGtUc1o2Moc.yml
  data/videos/currentaffairs/wd2uVYOrKLI.yml
  data/videos/currentaffairs/wrbig2POfKg.yml
  data/videos/currentaffairs/xdekrD8iCl8.yml
  static/img/channels/currentaffairs.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#349 Suck My Opinion
  content/channel/suckmyopinion.md
  data/channels/suckmyopinion.yml
  data/videos/suckmyopinion/0VJbyCH3nUE.yml
  data/videos/suckmyopinion/9UEgGKLvNUU.yml
  data/videos/suckmyopinion/GDbB79lIHb4.yml
  static/img/channels/suckmyopinion.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#344 Mystic Muttering
  content/channel/mysticmuttering.md
  data/channels/mysticmuttering.yml
  data/videos/mysticmuttering/4_VPw_lQq6Y.yml
  data/videos/mysticmuttering/6rr2YuhO_ds.yml
  data/videos/mysticmuttering/7twK62CfGtI.yml
  data/videos/mysticmuttering/8EC_ntc4kLM.yml
  data/videos/mysticmuttering/8F1sjnOEAP4.yml
  data/videos/mysticmuttering/9tg8PaoyQgs.yml
  data/videos/mysticmuttering/CR37l927nNE.yml
  data/videos/mysticmuttering/CwQEjBGtWTw.yml
  data/videos/mysticmuttering/EbYvBcksDwk.yml
  data/videos/mysticmuttering/EkNI60yLFbU.yml
  data/videos/mysticmuttering/GDWBU8L9cQk.yml
  data/videos/mysticmuttering/GsUqhC-bzfY.yml
  data/videos/mysticmuttering/I0XUSDmGgtU.yml
  data/videos/mysticmuttering/IgXoCVfeBQY.yml
  data/videos/mysticmuttering/It-Xqns7EKA.yml
  data/videos/mysticmuttering/NLYR5wVBQ7o.yml
  data/videos/mysticmuttering/SB3gfvEY8dg.yml
  data/videos/mysticmuttering/US07UjmRmfc.yml
  data/videos/mysticmuttering/WGwAAOsSzbA.yml
  data/videos/mysticmuttering/WZj1EZiS-UA.yml
  data/videos/mysticmuttering/X_AvOdtME3o.yml
  data/videos/mysticmuttering/XmADpM9X4LQ.yml
  data/videos/mysticmuttering/YNsR1f8G4lQ.yml
  data/videos/mysticmuttering/ZDh2Cwp5KuM.yml
  data/videos/mysticmuttering/bxBIF7LB_98.yml
  data/videos/mysticmuttering/f6Kk-Oc4NmE.yml
  data/videos/mysticmuttering/gIvAQSw52V4.yml
  data/videos/mysticmuttering/hStNIO4WviQ.yml
  data/videos/mysticmuttering/iLMhHgeHcsk.yml
  data/videos/mysticmuttering/ksDTj7WaCA8.yml
  data/videos/mysticmuttering/l0dcm-c_miQ.yml
  data/videos/mysticmuttering/mAzHaGoZKvU.yml
  data/videos/mysticmuttering/nIr7kjoFLaQ.yml
  data/videos/mysticmuttering/sU7ZHFOa7AE.yml
  data/videos/mysticmuttering/ubiNBbKAc1c.yml
  data/videos/mysticmuttering/v5y6WMphrUw.yml
  data/videos/mysticmuttering/wDgsGgv9NLY.yml
  data/videos/mysticmuttering/x53DrRdFLnk.yml
  data/videos/mysticmuttering/xcVas_oKzn0.yml
  static/img/channels/mysticmuttering.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#350 Eccentric Rants
  content/channel/eccentricrants.md
  data/channels/eccentricrants.yml
  data/videos/eccentricrants/-bdWDmNqDBs.yml
  data/videos/eccentricrants/0mPwIsT37TQ.yml
  data/videos/eccentricrants/1CFBKGt67Ag.yml
  data/videos/eccentricrants/5oL3DcBbdWI.yml
  data/videos/eccentricrants/7fSwJGNe-NU.yml
  data/videos/eccentricrants/9fFWGsIQKd0.yml
  data/videos/eccentricrants/BFIHxoi26OY.yml
  data/videos/eccentricrants/BoE_GPmcHOU.yml
  data/videos/eccentricrants/DBl8iQ5m6LE.yml
  data/videos/eccentricrants/DaodlwkX9mg.yml
  data/videos/eccentricrants/Hr0bkQpmgnc.yml
  data/videos/eccentricrants/Pfa42-Hq9lw.yml
  data/videos/eccentricrants/VjViY-JV7tc.yml
  data/videos/eccentricrants/Z2QHZBpRTr8.yml
  data/videos/eccentricrants/bhTVp7XKqEI.yml
  data/videos/eccentricrants/ct7DDWwgnr4.yml
  data/videos/eccentricrants/eOFgCuhJJzs.yml
  data/videos/eccentricrants/kNgNtPgRrgs.yml
  data/videos/eccentricrants/qLWW64nep-k.yml
  data/videos/eccentricrants/tUqjSJy6gA0.yml
  static/img/channels/eccentricrants.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#355 Update hasanpiker.md
  content/channel/hasanpiker.md
Labels: content/channels

#354 Update arthousepolitics.yml
  data/channels/arthousepolitics.yml
Labels: content/channels

#357 C o n q u e s t o f D r e a d
  content/channel/conquestofdread.md
  data/channels/conquestofdread.yml
  data/videos/conquestofdread/4-PSN2ujYjA.yml
  data/videos/conquestofdread/HsgX9ClS6jg.yml
  data/videos/conquestofdread/Wajid7YWv3A.yml
  data/videos/conquestofdread/m1XDRxIbetI.yml
  static/img/channels/conquestofdread.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#358 BigBreadBrainz
  content/channel/bigbreadbrainz.md
  data/channels/bigbreadbrainz.yml
  data/videos/bigbreadbrainz/EonmLFFic5E.yml
  data/videos/bigbreadbrainz/QQwJZ2fgTCU.yml
  data/videos/bigbreadbrainz/lm6xs0gur6U.yml
  data/videos/bigbreadbrainz/o4yNObH25oU.yml
  static/img/channels/bigbreadbrainz.jpg
Labels: content/channels, content/video, needs review, xp/creator, xp/user

#356 Hugo 0.57.2
  netlify.toml
Labels: needs review, tech debt, xp/developer
